<div class="row">
<div class="col"></div>
<div class="col"><div class="cards-columns">
  <div class="card bg-primary text-white text-center p-3">
      <blockquote class="blockquote mb-0">
        <p>Usuario</p>
        <input type="text" class="form-control">
        <p>Password</p>
        <input type="password" class="form-control">
        <br>
        <button (click)="login()" class="btn btn-outline-success">Iniciar sesión</button>
      </blockquote>
    </div>
</div>
</div>
<div class="col"></div>
    
</div>