<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Herramientas Informáticas</div>
    <div class="list-group list-group-flush">
      <a routerLink="home" class="list-group-item list-group-item-action" routerLinkActive="active">Inicio</a>
      <a href="#" class="list-group-item list-group-item-action" routerLinkActive="active">Configuración</a>
      <a routerLink="cargarPedido" class="list-group-item list-group-item-action" routerLinkActive="active">Cargar pedido</a>
      <a routerLink="tables/result" class="list-group-item list-group-item-action" routerLinkActive="active">Tabla de resultados</a>
      <a routerLink="tables/t1" class="list-group-item list-group-item-action" routerLinkActive="active">Reporte 1</a>
      <a routerLink="tables/t2" class="list-group-item list-group-item-action" routerLinkActive="active">Reporte 2</a>
      <a routerLink="tables/t3" class="list-group-item list-group-item-action" routerLinkActive="active">Reporte 3</a>
    </div>
  </div>